body {
    font-family: sans-serif;
    background-color: aquamarine;
}

.imagenes-container {
   
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.imagenes-container .imagen {
    position: relative;
    
    margin-right: -20px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.imagenes-container .imagen img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.32s ease-in-out;

}

.imagenes-container .imagen .nombre {

    position:absolute;
    background-color: black;
    color: whitesmoke;
    display: none;
    min-width: 100px;
    width: 150px;
    top: -60px;
    
    padding: 10px 15px;
    border-radius: 5px ;

    
}

.imagenes-container .imagen .nombre .text {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
}

.imagenes-container .imagen:hover .nombre{

    display: inline-block;
    transform: translateY(-20px);
}

.imagenes-container .imagen .nombre::before {
    content: "";    
    position: absolute;
    width: 1px;
    height: 1px;
    left: 40%;
    bottom: -20px;

    border-top: solid 10px black;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    border-bottom: solid 10px transparent;
}

.imagenes-container .imagen:hover img {
    transform: translateY(-20px);
}

@media (max-width: 680px) {
    .imagenes-container {
        flex-direction: column;
        height: 180vh;
        gap: 30px;
    }
}